<h1>Busquedas</h1>
{{ dump (find) }}
<hr>
{{ dump(findOneBy) }}
<hr>
{{ dump(findBy) }}
<hr>
{{ dump(findAll) }}

<h1>Utilizando las consultas</h1>
{# {{ find.id }} - {{ find.nombre }} - {{ find.codigo }} 
{# {{ findOneBy.id }} - {{ findOneBy.nombre }} - {{ findOneBy.codigo }} #}

{# {% for producto in findBy %}
    {{ producto.id }} - {{ producto.nombre }} - {{ producto.codigo }} - {{ producto.categoria.id }} - {{ producto.categoria.nombre }} <br>
{% endfor %} 
<br>
{{ dump (BuscaProductoPorId.id) }} #} 




